<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>品牌管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link href="../plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../plugins/adminLTE/css/AdminLTE.css" rel="stylesheet">
    <link href="../plugins/adminLTE/css/skins/_all-skins.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/angularjs/angular.min.js"></script>
    <!-- 分页组件开始 -->
    <script src="../plugins/angularjs/pagination.js"></script>
    <link href="../plugins/angularjs/pagination.css" rel="stylesheet">
    <!-- 分页组件结束 -->
    <script>

        var app = angular.module("pinyougou", ['pagination']);
        app.controller("myController", function ($scope, $http) {
                $scope.findAll = function () {
                    $http.get("../brand/findAll.do").success(
                        function (data) {
                            $scope.list = data;
                        }
                    )
                };


                //分页控件配置
                $scope.paginationConf = {
                    currentPage: 1,
                    totalItems: 10,
                    itemsPerPage: 10,
                    perPageOptions: [10, 20, 30, 40, 50],
                    onChange: function () {
                        $scope.reloadList();

                    }
                };
                //抽取方法，以后其他的还可以引用
                /*     $scope.reloadList = function () {
                         $scope.findPage($scope.paginationConf.currentPage, $scope.paginationConf.itemsPerPage)

                     };*/
                $scope.reloadList = function () {
                    $scope.search($scope.paginationConf.currentPage, $scope.paginationConf.itemsPerPage)

                };

                $scope.findPage = function (page, rows) {
                    $http.get('../brand/findPage.do?page=' + page + '&rows=' + rows).success(
                        function (data) {
                            $scope.list = data.rows;
                            $scope.paginationConf.totalItems = data.total;
                        }
                    );
                };
                /*           $scope.add = function () {
                               $http.post("../brand/add.do", $scope.entity).success(
                                   function (data) {
                                       if (data.success) {
                                           $scope.reloadList();
                                       } else {
                                           alert(data.message);
                                       }
                                   }
                               )
                           };*/

                $scope.findOne = function (id) {
                    $http.get('../brand/findOne.do?id=' + id).success(
                        function (data) {
                            $scope.entity = data;
                        }
                    );
                };

                $scope.save = function () {
                    /*  var methodName = 'add';
                      if ($scope.entity.id) {
                          methodName = 'update';
                      }*/

                    var methodName = '';
                    if ($scope.entity.id != null) {
                        methodName = 'update';
                    } else {
                        methodName = 'add';
                    }

                    $http.post('../brand/' + methodName + '.do', $scope.entity).success(
                        function (data) {
                            if (data.success) {
                                $scope.reloadList();
                            } else {
                                alert(data.message);
                            }
                        }
                    );
                };

                $scope.selectIds = [];

                $scope.updateSelection = function ($event, id) {
                    if ($event.target.checked) {
                        $scope.selectIds.push(id);
                    } else {
                        var idx = $scope.selectIds.indexOf(id);
                        $scope.selectIds.splice(idx, 1);
                    }
                };

                //复选框的选择状态筛选
                // $scope.Choicestate;
                /*        $scope.stateFun = function (item) {
                            if ($scope.Choicestate != "选择状态") {
                                if (item.state == $scope.Choicestate) {
                                    return true;
                                } else {
                                    return false;
                                }
                            } else {
                                return true;
                            }
                        }*/
                $scope.del = function () {
                    // if ($scope.selectIds != null && $scope.selectIds.length != 0) {

                    if (confirm('Are you sure?')) {
                        $http.get('../brand/delete.do?ids=' + $scope.selectIds).success(
                            function (data) {
                                if (data.success) {
                                    $scope.reloadList();
                                } else {
                                    alert(data.message);
                                }
                            }
                        );
                    }
                };

                $scope.searchEntity = {};
                $scope.search = function (page, rows) {
                    $http.post('../brand/search.do?page=' + page + '&rows=' + rows, $scope.searchEntity).success(
                        function (data) {
                            $scope.list = data.rows;
                            $scope.paginationConf.totalItems = data.total;
                        }
                    );
                }

                /*$scope.searchEntity={};
                //条件查询
                $scope.search=function(page,size){

                    $http.post('../brand/search.do?page='+page +'&size='+size, $scope.searchEntity).success(
                        function(response){
                            $scope.list=response.rows;//显示当前页数据
                            $scope.paginationConf.totalItems=response.total;//更新总记录数
                        }
                    );

                }*/


            }
        );

    </script>

</head>
<body class="hold-transition skin-red sidebar-mini" ng-app="pinyougou" ng-controller="myController">
<!-- .box-body -->
<div class="box-header with-border">
    <h3 class="box-title">品牌管理</h3>
</div>

<div class="box-body">

    <!-- 数据表格 -->
    <div class="table-box">

        <!--工具栏-->
        <div class="pull-left">
            <div class="form-group form-inline">
                <div class="btn-group">
                    <button class="btn btn-default" data-target="#editModal" data-toggle="modal" ng-click="entity={}"
                            title="新建" type="button"><i class="fa fa-file-o"></i> 新建
                    </button>
                    <button class="btn btn-default" ng-click="del()" title="删除" type="button"><i class="fa fa-trash-o"
                    ></i> 删除
                    </button>
                    <button class="btn btn-default" onclick="window.location.reload();" title="刷新" type="button"><i
                            class="fa fa-refresh"></i> 刷新
                    </button>
                </div>
            </div>
        </div>
        <div class="box-tools pull-right">
            <div class="has-feedback">
                品牌名称:<input ng-model="searchEntity.name"> 品牌首字母:<input ng-model="searchEntity.firstChar">
                <button class="btn btn-default" ng-click="reloadList()">查询</button>
            </div>
        </div>
        <!--工具栏/-->

        <!--数据列表-->
        <table class="table table-bordered table-striped table-hover dataTable" id="dataList">
            <thead>
            <tr>
                <th class="" style="padding-right:0px">
                    <input class="icheckbox_square-blue" id="selall" type="checkbox">
                </th>
                <th class="sorting_asc">品牌ID</th>
                <th class="sorting">品牌名称</th>
                <th class="sorting">品牌首字母</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="entity in list">
                <td><input ng-click="updateSelection($event, entity.id)" type="checkbox"></td>
                <td>{{entity.id}}</td>
                <td>{{entity.name}}</td>
                <td>{{entity.firstChar}}</td>
                <td class="text-center">
                    <button class="btn bg-olive btn-xs" data-target="#editModal" data-toggle="modal"
                            ng-click="findOne(entity.id)"
                            type="button">修改
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <!--数据列表/-->
        <!-- 分页 -->
        <tm-pagination conf="paginationConf"></tm-pagination>

    </div>
    <!-- 数据表格 /-->

</div>
<!-- /.box-body -->

<!-- 编辑窗口 -->
<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="editModal" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
                <h3 id="myModalLabel">品牌编辑</h3>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped" width="800px">
                    <tr>
                        <td>品牌名称</td>
                        <td><input class="form-control" ng-model="entity.name" placeholder="品牌名称"></td>
                    </tr>
                    <tr>
                        <td>首字母</td>
                        <td><input class="form-control" ng-model="entity.firstChar" placeholder="首字母"></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button aria-hidden="true" class="btn btn-success" data-dismiss="modal" ng-click="save()">保存</button>
                <button aria-hidden="true" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>